dev/pug/index.pug
extends _layouts/default

block vars
  -title        = 'Picity High Park'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
  section.section-keyvisual#keyvisual
    img.md(src=path+"/img/top/keyvisual_img_01.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_01.jpg", alt="image")
    .keyvisual-number
      .number-item.odometer 500000000
    .btn-join.sm.open-lightbox(data-lightbox="lightbox-registration")
    .btn-join.md.js-scroll(href="#register")
  a.register-btn.md.js-scroll#register-btn(href="#register")
    img.trans(src=path+"/img/top/register_btn.png", alt="Đăng ký tham gia ngay")
  section.section-prize-registration#register
    .col.prize-col
      .prize-inner
        h2.prize-title
          img.md(src=path+"/img/top/title_ttl_01.png", alt="Cơ cấu giải thưởng")
          img.sm(src=path+"/img/top/sp/title_ttl_01.png", alt="Cơ cấu giải thưởng")
        .prize-row
          p.mb-bottom Cơ cấu giải thưởng dành cho <br>khách hàng đã chốt cọc thành công
          ul.prize-list
            li
              img(src=path+"/img/top/prize_img_01.png", alt="Giải 1")
            li
              img(src=path+"/img/top/prize_img_02.png", alt="Giải 2")
            li
              img(src=path+"/img/top/prize_img_03.png", alt="Giải 3")
            li
              img(src=path+"/img/top/prize_img_04.png", alt="Giải 4")
        .prize-row
          p Cơ cấu giải thưởng dành cho <br>khách hàng tham dự may mắn
          ul.prize-list
            li
              img(src=path+"/img/top/prize_img_05.png", alt="Giải 5")
      .about-title.sm
        img(src=path+"/img/top/sp/title_ttl_02.png", alt="GIỚI THIỆU TỔNG QUAN DỰ ÁN PICITY HIGH PARK")

    .col.registration-col.ft-myriadpro
      .registration-inner.lightbox(data-lightbox="lightbox-registration")
        .lightbox-wrap
          .lightbox-td-va
            .lightbox-window
              .lightbox-content
                h2.registration-title.md
                  img(src=path+"/img/top/title_ttl_02.png", alt="Nhập thông tin đăng kí")
                .registration-form
                  form.registration-form-inner.form-registration(action=path+"/")
                    .close.sm
                    .form-block
                      input.text-box(type="text" placeholder="Nhập họ tên...")
                    .form-row
                      .form-head Năm sinh
                      .form-content
                        select.select
                          option(value="1990") 1990
                          option(value="1991") 1991
                          option(value="1992") 1992
                    .form-row
                      .form-head Nghề nghiệp
                      .form-content
                        select.select
                          option(value="Nội trợ") Nội trợ
                          option(value="Buôn bán") Buôn bán
                    .form-radio
                      label.label-radio
                        input(type="radio" name="radio" checked)
                        span Việt Nam
                      label.label-radio
                        input(type="radio" name="radio")
                        span Người nước ngoài
                    .form-row
                      .form-head Số CMND
                      .form-content
                        input.text-box(type="text" placeholder="Nhập thông tin...")
                    .form-text Nơi ở hiện tại:
                    .form-row
                      .form-head Tỉnh/thành
                      .form-content
                        select.select
                          option(value="Hồ Chí Minh") Hồ Chí Minh
                          option(value="Vũng Tàu") Vũng Tàu
                          option(value="Long An") Long An
                          option(value="Đồng Nai") Đồng Nai
                    .form-row
                      .form-head Quận/huyện
                      .form-content
                        select.select
                          option(value="Quận 1") Quận 1
                          option(value="Quận 2") Quận 2
                          option(value="Quận 3") Quận 3
                    .form-btn
                      button.btn-submit.trans(type="submit") Đăng ký
    
  section.section-about#about
    .wrapper
      .about-info.sm
        .about-inner
          .about-desc
            ul.list-dots
              li
                strong Dự án: 
                | Picity High Park
              li
                strong Diện tích: 
                | 86.192,6 m2
              li
                strong Mật độ xây dựng: 
                | 23%
              li
                strong Quy mô: 
                | 5 Khu, 6 Block, cao từ 15 - 18 tầng (5 hầm), tổng sản phẩm 2.446 căn hộ.
              li
                strong Loại hình sản phẩm: 
                | căn hộ cao cấp
              li
                strong Hình thức sở hữu: 
                | Vĩnh viễn.
      .about-slider
        .js-slider
          .item-slide
            .about-content
              .park-photo
                img.md(src=path+"/img/top/slide_img_01.jpg", alt="image")
                img.sm(src=path+"/img/top/sp/slide_img_01.jpg", alt="image")
              .about-info.md
                .about-inner
                  h2.about-title.md
                    | GIỚI THIỆU
                    br
                    | TỔNG QUAN
                    br
                    | DỰ ÁN
                    br
                    | PICITY HIGH PARK
                  .about-desc
                    ul.list-dots
                      li
                        strong Dự án: 
                        | Picity High Park
                      li
                        strong Diện tích: 
                        | 86.192,6 m2
                      li
                        strong Mật độ xây dựng: 
                        | 23%
                      li
                        strong Quy mô: 
                        | 5 Khu, 6 Block, cao từ 15 - 18 tầng (5 hầm), tổng sản phẩm 2.446 căn hộ.
                      li
                        strong Loại hình sản phẩm: 
                        | căn hộ cao cấp
                      li
                        strong Hình thức sở hữu: 
                        | Vĩnh viễn.
          .item-slide
            img(src=path+"/img/top/slide_img_02.jpg", alt="image")
          .item-slide
            img(src=path+"/img/top/slide_img_03.jpg", alt="image")
          .item-slide
            img(src=path+"/img/top/slide_img_04.jpg", alt="image")
          .item-slide
            img(src=path+"/img/top/slide_img_05.jpg", alt="image")
        .dots-slick
          .slick-control#js-dots

      p.about-address ĐC: 169 Bạch Đằng, Phường 2, Tân Bình, TP.HCM<span class="md">   l   </span><br class="sm">Hotline: 0898 142 247

  .lightbox(data-lightbox="lightbox")
    .lightbox-wrap
      .lightbox-td-va
        .lightbox-window.lightbox-join
          .close
          .lightbox-content
            .modal-join
              .join-head
                img.md(src=path+"/img/top/title_ttl_03.png", alt="Câu hỏi tham gia dự thưởng")
                span.sm Câu hỏi tham gia dự thưởng
              .join-photo
                .join-info
                  p.join-text Dự đoán mức giá mở bán của toà tháp<br class="sm">Park 2<br class="md">dự án PiCity High Park:
                  ul.list-check
                    li
                      label.label-checkbox
                        input(type="checkbox" name="check" checked)
                        span 45.000.000vnđ/m2
                    li
                      label.label-checkbox
                        input(type="checkbox" name="check")
                        span 42.000.000vnđ/m2
                    li
                      label.label-checkbox
                        input(type="checkbox" name="check")
                        span 40.000.000vnđ/m2
                img.md(src=path+"/img/top/park_img.jpg", alt="Park")
                img.sm(src=path+"/img/top/sp/park_img.jpg", alt="Park")
                .join-agree
                  label.label-radio
                    input(type="checkbox" checked)
                    span Tôi đồng ý các điều kiện tham gia chương trình.
                  a.agree-link(href="#") Xem thêm điều kiện
                  buton.btn-join(type="button")
  .overlay-modal
  .preload
    img.md(src=path+"/img/top/keyvisual_img_01.jpg", alt="image")
    img.md(src=path+"/img/top/keyvisual_img_02.jpg", alt="image")
    img.md(src=path+"/img/top/keyvisual_img_03.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_01.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_02.jpg", alt="image")
    img.sm(src=path+"/img/top/sp/keyvisual_img_03.jpg", alt="image")

index.html
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0" id="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Picity High Park</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/odometer-theme-default.css">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="wrapper">
          <h1 class="header-logo"><img src="./img/common/logo.png" alt="Picity high park"></h1>
          <nav class="navigation" id="navigation">
            <div class="navigation-inner">
              <ul class="list-menu">
                <li><a class="js-scroll" href="#keyvisual"><span>Game</span></a></li>
                <li><a class="js-scroll" href="#register"><span>Thể lệ</span></a></li>
                <li><a class="js-scroll" href="#about"><span>Dự án</span></a></li>
                <li><a class="js-scroll is-current" href="#register"><span>Tham gia</span></a></li>
              </ul>
            </div>
          </nav>
          <div class="btn-menu sm" id="btn-menu"></div>
        </div>
      </header>
      <div class="overlay-menu sm" id="overlay-menu"></div>
      <main>
        <section class="section-keyvisual" id="keyvisual"><img class="md" src="./img/top/keyvisual_img_01.jpg" alt="image"><img class="sm" src="./img/top/sp/keyvisual_img_01.jpg" alt="image">
          <div class="keyvisual-number">
            <div class="number-item odometer">500000000</div>
          </div>
          <div class="btn-join sm open-lightbox" data-lightbox="lightbox-registration"></div>
          <div class="btn-join md js-scroll" href="#register"></div>
        </section><a class="register-btn md js-scroll" id="register-btn" href="#register"><img class="trans" src="./img/top/register_btn.png" alt="Đăng ký tham gia ngay"></a>
        <section class="section-prize-registration" id="register">
          <div class="col prize-col">
            <div class="prize-inner">
              <h2 class="prize-title"><img class="md" src="./img/top/title_ttl_01.png" alt="Cơ cấu giải thưởng"><img class="sm" src="./img/top/sp/title_ttl_01.png" alt="Cơ cấu giải thưởng"></h2>
              <div class="prize-row">
                <p class="mb-bottom">Cơ cấu giải thưởng dành cho <br>khách hàng đã chốt cọc thành công</p>
                <ul class="prize-list">
                  <li><img src="./img/top/prize_img_01.png" alt="Giải 1"></li>
                  <li><img src="./img/top/prize_img_02.png" alt="Giải 2"></li>
                  <li><img src="./img/top/prize_img_03.png" alt="Giải 3"></li>
                  <li><img src="./img/top/prize_img_04.png" alt="Giải 4"></li>
                </ul>
              </div>
              <div class="prize-row">
                <p>Cơ cấu giải thưởng dành cho <br>khách hàng tham dự may mắn</p>
                <ul class="prize-list">
                  <li><img src="./img/top/prize_img_05.png" alt="Giải 5"></li>
                </ul>
              </div>
            </div>
            <div class="about-title sm"><img src="./img/top/sp/title_ttl_02.png" alt="GIỚI THIỆU TỔNG QUAN DỰ ÁN PICITY HIGH PARK"></div>
          </div>
          <div class="col registration-col ft-myriadpro">
            <div class="registration-inner lightbox" data-lightbox="lightbox-registration">
              <div class="lightbox-wrap">
                <div class="lightbox-td-va">
                  <div class="lightbox-window">
                    <div class="lightbox-content">
                      <h2 class="registration-title md"><img src="./img/top/title_ttl_02.png" alt="Nhập thông tin đăng kí"></h2>
                      <div class="registration-form">
                        <form class="registration-form-inner form-registration" action="./">
                          <div class="close sm"></div>
                          <div class="form-block">
                            <input class="text-box" type="text" placeholder="Nhập họ tên...">
                          </div>
                          <div class="form-row">
                            <div class="form-head">Năm sinh</div>
                            <div class="form-content">
                              <select class="select">
                                <option value="1990">1990</option>
                                <option value="1991">1991</option>
                                <option value="1992">1992</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-head">Nghề nghiệp</div>
                            <div class="form-content">
                              <select class="select">
                                <option value="Nội trợ">Nội trợ</option>
                                <option value="Buôn bán">Buôn bán</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-radio">
                            <label class="label-radio">
                              <input type="radio" name="radio" checked><span>Việt Nam</span>
                            </label>
                            <label class="label-radio">
                              <input type="radio" name="radio"><span>Người nước ngoài</span>
                            </label>
                          </div>
                          <div class="form-row">
                            <div class="form-head">Số CMND</div>
                            <div class="form-content">
                              <input class="text-box" type="text" placeholder="Nhập thông tin...">
                            </div>
                          </div>
                          <div class="form-text">Nơi ở hiện tại:</div>
                          <div class="form-row">
                            <div class="form-head">Tỉnh/thành</div>
                            <div class="form-content">
                              <select class="select">
                                <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                <option value="Vũng Tàu">Vũng Tàu</option>
                                <option value="Long An">Long An</option>
                                <option value="Đồng Nai">Đồng Nai</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-head">Quận/huyện</div>
                            <div class="form-content">
                              <select class="select">
                                <option value="Quận 1">Quận 1</option>
                                <option value="Quận 2">Quận 2</option>
                                <option value="Quận 3">Quận 3</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-btn">
                            <button class="btn-submit trans" type="submit">Đăng ký</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-about" id="about">
          <div class="wrapper">
            <div class="about-info sm">
              <div class="about-inner">
                <div class="about-desc">
                  <ul class="list-dots">
                    <li><strong>Dự án: </strong>Picity High Park</li>
                    <li><strong>Diện tích: </strong>86.192,6 m2</li>
                    <li><strong>Mật độ xây dựng: </strong>23%</li>
                    <li><strong>Quy mô: </strong>5 Khu, 6 Block, cao từ 15 - 18 tầng (5 hầm), tổng sản phẩm 2.446 căn hộ.</li>
                    <li><strong>Loại hình sản phẩm: </strong>căn hộ cao cấp</li>
                    <li><strong>Hình thức sở hữu: </strong>Vĩnh viễn.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="about-slider">
              <div class="js-slider">
                <div class="item-slide">
                  <div class="about-content">
                    <div class="park-photo"><img class="md" src="./img/top/slide_img_01.jpg" alt="image"><img class="sm" src="./img/top/sp/slide_img_01.jpg" alt="image"></div>
                    <div class="about-info md">
                      <div class="about-inner">
                        <h2 class="about-title md">GIỚI THIỆU<br>TỔNG QUAN<br>DỰ ÁN<br>PICITY HIGH PARK</h2>
                        <div class="about-desc">
                          <ul class="list-dots">
                            <li><strong>Dự án: </strong>Picity High Park</li>
                            <li><strong>Diện tích: </strong>86.192,6 m2</li>
                            <li><strong>Mật độ xây dựng: </strong>23%</li>
                            <li><strong>Quy mô: </strong>5 Khu, 6 Block, cao từ 15 - 18 tầng (5 hầm), tổng sản phẩm 2.446 căn hộ.</li>
                            <li><strong>Loại hình sản phẩm: </strong>căn hộ cao cấp</li>
                            <li><strong>Hình thức sở hữu: </strong>Vĩnh viễn.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-slide"><img src="./img/top/slide_img_02.jpg" alt="image"></div>
                <div class="item-slide"><img src="./img/top/slide_img_03.jpg" alt="image"></div>
                <div class="item-slide"><img src="./img/top/slide_img_04.jpg" alt="image"></div>
                <div class="item-slide"><img src="./img/top/slide_img_05.jpg" alt="image"></div>
              </div>
              <div class="dots-slick">
                <div class="slick-control" id="js-dots"></div>
              </div>
            </div>
            <p class="about-address">ĐC: 169 Bạch Đằng, Phường 2, Tân Bình, TP.HCM<span class="md">   l   </span><br class="sm">Hotline: 0898 142 247</p>
          </div>
        </section>
        <div class="lightbox" data-lightbox="lightbox">
          <div class="lightbox-wrap">
            <div class="lightbox-td-va">
              <div class="lightbox-window lightbox-join">
                <div class="close"></div>
                <div class="lightbox-content">
                  <div class="modal-join">
                    <div class="join-head"><img class="md" src="./img/top/title_ttl_03.png" alt="Câu hỏi tham gia dự thưởng"><span class="sm">Câu hỏi tham gia dự thưởng</span></div>
                    <div class="join-photo">
                      <div class="join-info">
                        <p class="join-text">Dự đoán mức giá mở bán của toà tháp<br class="sm">Park 2<br class="md">dự án PiCity High Park:</p>
                        <ul class="list-check">
                          <li>
                            <label class="label-checkbox">
                              <input type="checkbox" name="check" checked><span>45.000.000vnđ/m2</span>
                            </label>
                          </li>
                          <li>
                            <label class="label-checkbox">
                              <input type="checkbox" name="check"><span>42.000.000vnđ/m2</span>
                            </label>
                          </li>
                          <li>
                            <label class="label-checkbox">
                              <input type="checkbox" name="check"><span>40.000.000vnđ/m2</span>
                            </label>
                          </li>
                        </ul>
                      </div><img class="md" src="./img/top/park_img.jpg" alt="Park"><img class="sm" src="./img/top/sp/park_img.jpg" alt="Park">
                      <div class="join-agree">
                        <label class="label-radio">
                          <input type="checkbox" checked><span>Tôi đồng ý các điều kiện tham gia chương trình.</span>
                        </label><a class="agree-link" href="#">Xem thêm điều kiện</a>
                        <buton class="btn-join" type="button"></buton>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay-modal"></div>
        <div class="preload"><img class="md" src="./img/top/keyvisual_img_01.jpg" alt="image"><img class="md" src="./img/top/keyvisual_img_02.jpg" alt="image"><img class="md" src="./img/top/keyvisual_img_03.jpg" alt="image"><img class="sm" src="./img/top/sp/keyvisual_img_01.jpg" alt="image"><img class="sm" src="./img/top/sp/keyvisual_img_02.jpg" alt="image"><img class="sm" src="./img/top/sp/keyvisual_img_03.jpg" alt="image"></div>
      </main>
      <footer>
        <div class="footer-inner">
          <div class="sm registration-btn open-lightbox" data-lightbox="lightbox-registration"><img src="./img/common/sp/registration_btn.png" alt="Đăng ký ngay"></div>
        </div>
      </footer>
    </div>
    <script>
      window.odometerOptions = {
        auto: true,
        selector: '.odometer',
        format: '( ddd)',
        duration: 2000
      };
    </script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/odometer.min.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>
